<table>
    <tr>
        <td rowspan="4">
            <a href="" data-rel="back" data-role="button" data-icon="arrow-l" data-iconpos="notext"></a>
            <a href="" onclick = "hound.displayBarcode();" data-role="button">Codigo</a>
        </td>
        <td>Usuario</td>
        <td>{{userInfo.usuario}}</td>
    </tr>
    <tr>
        <td>Fecha de Registro</td>
        <td>{{userInfo.fechaRegistro}}</td>
    </tr>
    <tr>
        <td>Puntos</td>
        <td>{{userInfo.puntos}}</td>
    </tr>
    <tr>
        <td>Nivel</td>
        <td>{{userInfo.nivel}}</td>
    </tr>
</table>