<ul class="ui-listview ui-listview-inset ui-corner-all ui-shadow">

    <li class="ui-li ui-li-divider ui-bar-a ui-corner-top">
        Usuario
    </li>
    <li class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-btn-up-a">
        <div class="ui-btn-inner ui-li">
            <div class="ui-btn-text">
                <a href="" class="ui-link-inherit"><h3>{{userInfo.usuario}}</h3></a>
            </div>
        </div>
    </li>
    <li class="ui-li ui-li-divider ui-bar-a ">
        Fecha de Registro
    </li>
    <li class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-btn-up-a">
        <div class="ui-btn-inner ui-li">
            <div class="ui-btn-text">
                <a href="" class="ui-link-inherit"><h3>{{dateFormat userInfo.fechaRegistro}}</h3></a>
            </div>
        </div>
    </li>
    <li class="ui-li ui-li-divider ui-bar-a">
        Puntos
    </li>
    <li class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-btn-up-a">
        <div class="ui-btn-inner ui-li">
            <div class="ui-btn-text">
                <a href="" class="ui-link-inherit"><h3>{{userInfo.puntos}}</h3></a>
            </div>
        </div>
    </li>
    <li class="ui-li ui-li-divider ui-bar-a ">
        Puntos
    </li>
    <li class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-btn-up-a ui-corner-bottom">
        <div class="ui-btn-inner ui-li">
            <div class="ui-btn-text">
                <a href="" class="ui-link-inherit"><h3>{{userInfo.nivel}}</h3></a>
            </div>
        </div>
    </li>
</ul>
<a href="" onclick="hound.displayBarcode();" class="ui-btn ui-shadow ui-btn-corner-all ui-btn-up-a">
    <span class="ui-btn-inner ui-btn-corner-all">
        <span class="ui-btn-text">Codigo de Barras</span>        
    </span>
</a>
