                <div style="text-align: center;">
                <a class="twitter-timeline"
                   data-widget-id="{{widgetId}}">
                </a>                    
                </div>
