                <div style="text-align: center;">
                <a class="twitter-timeline"
                   data-widget-id="{{widgetId}}" data-chrome="noheader nofooter">
                </a>                    
                </div>
