.gridMenuItem{
    display: inline-block;
    vertical-align: top;
    height: 110px;
}
.gridMenuItemText{
    width: 100%;
    overflow: hidden;
    text-align: center;

}
.gridMenuItem > a {
    text-decoration: none;    
    font-size: 75%;
}
.gridMenuItemImage{
    text-align: center;

}
.gridMenu{
    text-align: left;
}
/* Media Queries ------------------------------------------------------------------------------------ */

/* iPhone, etc portrait ---- */
@media only screen and (max-width: 320px) {
    .gridMenuItem{
        width: 49%;
        padding: 0;
    }
    .left_col{
        display: none;
    }
}


/* iPhone, etc portrait ---- */
@media only screen and (min-width: 321px) {
    .gridMenuItem{
        width: 32%;
    }
    .left_col{
        display: none;
    }
}

/* iPhone, etc landscape ---- */
@media only screen and (min-width: 480px) {
    .gridMenuItem{
        width: 24%;
    }
    .left_col{
        display: none;
    }
}
@media only screen and (min-width: 600px) {
    .split_content {
        padding:0; 
        margin:0 0 0 100%; 
        width:68%; 
        min-height:100%; 
        float:right;
    }
    .left_col {
        float:left; 
        width:250px;
        margin-left:-50%; 
        text-align:right; 
        display: block;
        height: 600px;
    }
    .mobile_only{
        display:none;
    }
}
/* iPad, tablets etc portrait ---- */
@media only screen and (min-width: 768px) {
    .gridMenuItem{
        width: 19%;
    }
}

/* Laptops, Desktops, etc ---- */
@media only screen and (min-width: 1025px) {
    .gridMenuItem{
        width: 162px;
    }
    .split_content {
        padding:0; 
        margin:0 0 0 100%; 
        width:80%; 
        min-height:100%; 
        float:right;
    }
    .left_col {
        float:left; 
        width:250px;
        margin-left:-24%; 
        text-align:right; 
        height: 700px;
    }
}

html {
    height:100%; 
}
.left_col_inner {padding:10px; }
.right_col {}
.right_col_inner {padding:10px; }
.ui-header {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     z-index: 10000;     
}
.ui-content{
    padding-top: 60px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    padding-bottom: 15px !important;
}